<li>
  <span class="description"><b><%= swap.description %></b></span>
  <span class="offer"><b>Offer: </b><%= swap.offer %></span>
  <span class="want"><b>Want: </b><%= swap.want %></span>
  <span class="tag_list">
  	<b>Tags: </b> <%= raw swap.tag_list.map { |t| link_to t, 
  								tag_path(t) }.join(', ') %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(swap.created_at) %> ago by 
    <%= swap.user.name %>
  </span>
  
</li>