<% provide(:title, "User swaps") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for current_user, size: 40 %>
        <%= current_user.name %> swaps 
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <!-- swaps -->
    <% if current_user.swaps.any? %>
      <h3>Swaps (<%= current_user.swaps.count %>)</h3>
      <ol class="swaps">
        <%= render current_user.swaps %>
      </ol>
      <%= will_paginate current_user.swaps %>
    <% end %>
  </div>
</div>